﻿@model IEnumerable<wwwContentManager.Models.Playlist>
<script>

	jQuery(document).ready(function() {
	    var wydarzenia = [];
        @foreach (var playlist in Model)
	    {
	        @:wydarzenia.push({ title: "@playlist.Device.Name", start: new Date(@playlist.DisplayDateTime.ToString("yyyy, MM, dd, HH, mm")), end: new Date(@playlist.EndDateTime.ToString("yyyy,MM,dd,HH,mm")) })
	    }
		$('#calendar').fullCalendar({
			header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,basicWeek,basicDay'
			},
			defaultDate: '2016-12-12',
			navLinks: true, // can click day/week names to navigate views
			editable: true,
			eventLimit: true, // allow "more" link when too many events
			events: wydarzenia
		});


	});

</script>
<style>
    body {
        margin: 40px 10px;
        padding: 0;
        font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
        font-size: 14px;
    }

    #calendar {
        max-width: 900px;
        margin: 0 auto;
    }
</style>
@{
    ViewBag.Title = "Kalendarz";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<div id="calendar"></div>