﻿@model wwwContentManager.Models.CreateDeviceGroupViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Dodaj grupe</h2>
@using (Html.BeginForm("Create", "DeviceGroup"))
{
    <div class="form-group">
        @Html.Label("Nazwa")
        @Html.TextBoxFor(model => model.DeviceGroup.Name, new { @class = "form-control" })
    </div>
    <table class="table table-striped">
        @Html.HiddenFor(m => Model.Devices)
    @foreach (var item in Model.Devices)
    {
        <tr>
            <td>@Html.CheckBoxFor(m => item.Selected)</td>
            <td>@Html.DisplayFor(m => item.Name)</td>
            <td>@Html.DisplayFor(m => item.Ip)</td>
        </tr>
    }
    </table>
    <button type="submit" class="btn btn-default">Dodaj</button>
}

