﻿@model IEnumerable<wwwContentManager.Models.DeviceGroup>

@{
    ViewBag.Title = "Lista grup";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<div class="row">
    @Html.ActionLink("Add new group", "Create", "DeviceGroup", new { @class = "btn btn-default" })
</div>
<div class="row" style="margin-top: 30px;">
    <table class="table table-striped">
        <tr>
            <th>Id</th>
            <th>Nazwa</th>
            <td>Akcja</td>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>
                    @Html.ActionLink("Wyślij multimedia", "SendContent", "DeviceGroup", new { id = item.Id }, new { @class = "btn btn-sm btn-success", @style = "margin-right: 15px;" })
                    @Html.ActionLink("Info", "Details", "DeviceGroup", new { id = item.Id }, new { @class = "btn btn-sm btn-info" })
                    @Html.ActionLink("Edytuj", "Edit", "DeviceGroup", new { id = item.Id }, new { @class = "btn btn-sm btn-default" })
                    @Html.ActionLink("Usuń", "Delete", "DeviceGroup", new { id = item.Id }, new { @class = "btn btn-sm btn-danger" })
                </td>
            </tr>
        }
    </table>
</div>

