﻿@model wwwContentManager.Models.GroupSendContentViewModel

@{
    ViewBag.Title = "Wybierz element do wysłania do grupy";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<div class="row" style="margin-top: 30px;">
    @using (Html.BeginForm("SendContent", "DeviceGroup"))
    {
        @Html.HiddenFor(m => m.Files)
        @Html.HiddenFor(m => m.GroupId)
        <table class="table table-hover table-striped">
            @for (int i = 0; i < Model.Files.Count; i++)
            {
                <tr>
                    <td>@Html.CheckBoxFor(m => m.IsSelected[i])</td>
                    <td>@Model.Files[i].FileName</td>
                    <td>@Html.TextBoxFor(m => m.ImageDisplayInterval[i])</td>
                    <td>Image/Video</td>
                </tr>
            }
        </table>
        <div class="form-group">
            @Html.LabelFor(m => m.Date)
            @Html.TextBoxFor(m => m.Date, new { @class = "form-control", @type = "datetime-local" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Date)
            @Html.TextBoxFor(m => m.DateEnd, new { @class = "form-control", @type = "datetime-local" })
        </div>
        <button type="submit" class="btn btn-default">Dodaj</button>
    }
</div>