﻿
@model wwwContentManager.Models.Device

@{
    ViewBag.Title = "Create";
}

<h2>Dodaj</h2>
@using (Html.BeginForm("Create", "Devices"))
{
    <div class="form-group">
        @Html.Label("Nazwa")
        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.Label("Ip")
        @Html.TextBoxFor(model => model.Ip, new { @class = "form-control"})
    </div>
    <div class="form-group">
        @Html.Label("IMEI")
        @Html.TextBoxFor(model => model.IMEI, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.Label("Opis")
        @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.Label("Typ")
        @Html.TextBoxFor(model => model.Type, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.Label("Port")
        @Html.TextBoxFor(model => model.Port, new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-default">Dodaj</button>
}

