﻿
@model wwwContentManager.Models.Device

@{
    ViewBag.Title = "Details";
}

<h2>Info</h2>
<div class="form-group">
    @Html.Label("Nazwa")
    @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @ViewBag.Disabled })
</div>
<div class="form-group">
    @Html.Label("Ip")
    @Html.TextBoxFor(model => model.Ip, new { @class = "form-control", @ViewBag.Disabled })
</div>
<div class="form-group">
    @Html.Label("IMEI")
    @Html.TextBoxFor(model => model.IMEI, new { @class = "form-control", @ViewBag.Disabled })
</div>
<div class="form-group">
    @Html.Label("Opis")
    @Html.TextBoxFor(model => model.Description, new { @class = "form-control", @ViewBag.Disabled })
</div>
<div class="form-group">
    @Html.Label("Typ")
    @Html.TextBoxFor(model => model.Type, new { @class = "form-control", @ViewBag.Disabled })
</div>
<div class="form-group">
    @Html.Label("Port")
    @Html.TextBoxFor(model => model.Port, new { @class = "form-control", @ViewBag.Disabled })
</div>

