﻿@model IEnumerable<wwwContentManager.Models.Device>

@{
    ViewBag.Title = "Lista urządzeń";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<div class="row">
    @Html.ActionLink("Add new device", "Create", "Devices", new { @class = "btn btn-default" })
    @Html.ActionLink("Check statuses", "Index", "Devices", new { @class = "btn btn-info" })
</div>
<div class="row" style="margin-top: 30px;">
    @using (Html.BeginForm("SendMessage", "Devices"))
    {
    <table class="table table-striped">
        <tr>
            <th>Id</th>
            <th>Nazwa</th>
            <th>Adres IP</th>
            <th>Status</th>
            <td>Akcja</td>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Ip</td>
                <td>
                    @if (item.Synchronized)
                    {
                        <span class="label label-success">Online</span>
                    }
                    else
                    {
                        <span class="label label-danger">Offline</span>
                    }
                </td>
                <td>
                    @Html.ActionLink("Wyślij multimedia", "SendContent", "Devices", new { id = item.Id }, new { @class = "btn btn-sm btn-success", @style = "margin-right: 15px;"})
                    @Html.ActionLink("Info", "Details", "Devices", new { id = item.Id }, new { @class = "btn btn-sm btn-info" })
                    @Html.ActionLink("Edytuj", "Edit", "Devices", new { id = item.Id }, new { @class = "btn btn-sm btn-default" })
                    @Html.ActionLink("Usuń", "Delete", "Devices", new { id = item.Id }, new { @class = "btn btn-sm btn-danger" })
                </td>
            </tr>
        }
    </table>
    }
</div>
