﻿
@model wwwContentManager.Models.FileViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Dodaj</h2>
@using (Html.BeginForm("Create", "Gallery", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-group">
        @Html.Label("Plik")
        @Html.TextBoxFor(model => model.File, null, new { type = "file", @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-default">Dodaj</button>
}

