﻿@model IEnumerable<wwwContentManager.Models.File>

@{
    ViewBag.Title = "Galeria";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<div class="row">
    @Html.ActionLink("Add new content", "Create", "Gallery", new { @class = "btn btn-default" })
</div>
<div class="row" style="margin-top: 30px;">
    <table class="table table-striped">
        <tr>
            <th>Id</th>
            <th>Nazwa</th>
            <th>Typ</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@Html.ActionLink(item.FileName, "DonloadById/"+item.Id, "Gallery")</td>
                <td>@item.FileExtension</td>
            </tr>
        }
    </table>
</div>
